<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-0">
  <a class="navbar-brand" routerLink="/">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/news">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Pricing</a>
      </li>
    </ul>
  </div>
  <div class="dropdown w-10 h-10 pr-3" *ngIf="currentUser">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="https://pbs.twimg.com/media/D4oVK3LVUAAc80P.jpg" class="rounded-circle" style="width: 32px; height: 32px;">
    </button>
    <div class="dropdown-menu pull-right" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item h4" href="#">{{currentUser.email}}</a>
      <a class="dropdown-item" href="#"> {{currentUser.role}}</a>
      <div class="dropdown-divider"></div>
      <a type="button" class="dropdown-item text-info" (click)="Signout()">Sign Out</a>
    </div>
  </div>
  <form class="form-inline" *ngIf ="!currentUser">
    <div class="form-group">
      <a routerLink="/reg" class="btn btn-primary btn active" role="button" aria-pressed="true">Sign Up</a>
    </div>
    <div class="form-group">
      <a routerLink="/login" class="btn btn-success btn active" role="button" aria-pressed="true">Sign In</a>
    </div>
  </form>
</nav> 
<router-outlet></router-outlet>

 <!-- <footer class="footer pt-8" style="background-color: rgba(3, 3, 3, 0.336);">
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div>
</footer>  -->